/* CSS for Index (homepage) for Findyourammo.com */


body, h1 {
	color: #041748;
	background-color: #D4991C;
	background-image: url(spentshells.jpg);
	background-blend-mode: darken;
	background-size: cover;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}
h1 {
	font-weight: bold;
	border: 2px black solid;
	background-blend-mode: overlay;
	height: 50%;
	margin: 0px, 10px;
}

.intro_paragraph {
	background-color: white;
	font-style: italic;
}

.disclaimer {
	font-size: .5em;
}

footer {
	position: fixed;
	bottom: 0;
}