/* Custom Style Sheet for AmmoFinder Homepage */

html, body {
	font-family: 'Red Rose';
}

h1 {
	font-size: 3rem;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

nav {
	border: 10px;
	border-color: black;
}

.footer {
	font-style: italic;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 50px;
}

.main_imgs {
	display: flex;
	justify-content: center;
	padding: 2px;
}

.handgun_button {
	object-fit: cover;
	width: 450px;
	height: 300px;
	transition: all .5s;
	margin: auto;
	margin-top: 10px;
}

.handgun_button:hover {
	transform: scale(1.1);
}

.rifle_button {
	object-fit: cover;
	width: 450px;
	height: 300px;
	transition: all .5s;
	margin: auto;
	margin-top: 10px;
}

.rifle_button:hover {
	transform: scale(1.1);
}

p {
	padding-top: 10px;
	margin-top: 10px;
}

